/* CSS for rguthrie's Password Generator
This set of CSS rule-sets supports the About Me, Portfolio, and Contact pages.
Each of those pages has its own HTML file, with About Me supported in the 
index.html file.
 */

/* Background for page */
/* body {
  background-image: url("../images/darkgray-backsplash-tile.jpg");
} */

/* NameBox - yellow "pill" with title. */
.NameBox {
    width: 75%;
    height: 100px;
    padding: 4px;
    margin: 20px 0 20px 40px;
    text-align: center;
    background: yellow;
    color: black;
    border-radius: 100px;
    border: solid 1px black;
}

/* */
#lenQuery {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;
}

.dialogHeader {
    padding: 10px 0;
    margin: 5px 0 0 0;
 }

.form-check-label {
    width: 360px;
    margin: 0 0 0 20px;
    line-height: 2.0;
}

.form-check-input {
  height: 20px;
  width:  20px;
  margin: 6px 0 0 -20px;
}

.numericBox {
  width: 50px;
  height: 20px;
  margin: 3px;
}

.passwordBox > #password {
    width: 437px;
    height: 110px;
    text-align: center;
    padding: 2px;
    font-family: 'Lucida Console', sans-serif;
    background: lightgray;
}

#generate, #copyBtn {
    width: 40%;
    margin: 0 1% 0 20px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 100px;
    border: solid 1px;
}

#generate {
  background-color: red;
  text-height: 24px;
  text-emphasis: bolder;
  border: black;
}

#copyBtn {
  background-color: lightgray;
  text-height: 24px;
  text-emphasis: bolder;
  border: gray;
}

#copyBtn.buttonEnabled {
  background-color: green;
  border: black;
}

/* Responsive coding using breakpoints */

/* Width at 768px and below */
@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }

  .container {
    width: 100%;
    padding: 20px;
  }
}

/* Width at 320px and below */
@media screen and (max-width: 320px) {
  body {
    background-color: #333;
  }

  .NameBox.h3 {
    font-size: 12px;
  }

  .container {
    width: 100%;
    padding: 20px;
  }
}



