/* CSS for rguthrie's Password Generator
CSS rule-sets for the Password Generator.  This page is being kept simple
because it is a simple utility.  It has more of feel of legitimacy with
plain background and simple controls.
 */

/* NameBox - yellow "pill" with title. */
.NameBox {
    width: 150%;
    height: 100px;
    padding: 10px;
    margin: 10px 0 20px 15px;
    text-align: center;
    background: yellow;
    color: black;
    border-radius: 100px;
    border: solid 1px black;
}

/* UI - password length */
#lenQuery {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;
}

/* title for permissions and mandatories section */
.dialogHeader {
    padding: 10px 0;
    margin: 5px 0 0 0;
 }

/* label between permission checkbox and mandatory count.
width provides alignment with password display below. */
.form-check-label {
    width: 360px;
    margin: 0 0 0 20px;
    line-height: 2.0;
}

/* tailoring of the checkbox */
.form-check-input {
  height: 20px;
  width:  20px;
  margin: 6px 0 0 -20px;
}

/* tailoring of numeric entry */
.numericBox {
  width: 50px;
  height: 20px;
  margin: 3px;
}

/* password display box */
.passwordBox > #password {
    width: 437px;
    height: 110px;
    text-align: center;
    padding: 2px;
    font-family: 'Lucida Console', sans-serif;
    background: lightgray;
}

/* common formatting of generate and copy buttons */
#generate, #copyBtn {
    width: 40%;
    margin: 0 2px 0 0px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 100px;
    border: solid 1px;
}

/* specific formatting of generate button */
#generate {
  background-color: red;
  text-height: 24px;
  text-emphasis: bolder;
  border: black;
}

/*specific formatting of copy button */
#copyBtn {
  background-color: lightgray;
  text-height: 24px;
  text-emphasis: bolder;
  border: gray;
}

/* formatting of copy button to be used when the 
button is enabled. */
#copyBtn.buttonEnabled {
  background-color: green;
  border: black;
}

/* Responsive coding using breakpoints */

/* breakpoints are not needed - the elements of Password Generator 
are very tolerant of horizontal squeezing. */


